@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  margin-bottom: 60px;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}



@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }

  body {
    color: white;
    background: #121212;
  }
}

#test-wrap {
  overflow-x: hidden;
  white-space: nowrap;
}

#popup-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

div[data-play=""]:hover {
  cursor: pointer;
}


div[data-play="x"]::before,
div[data-play="x"]::after {
  position: absolute;
  content: '';
  width: 15px;
  height: 100px;
  background-color: white;
}

div[data-play="x"]::before {
  transform: rotate(45deg);
}

div[data-play="x"]::after {
  transform: rotate(-45deg);
}


div[data-play="o"]::before {
  position: absolute;
  top: 11px;
  left: 12px;
  right: 0;
  bottom: 0;
  content: "";
  width: 100px;
  height: 100px;
  background-color: white;
  border-radius: 50%;
}

div[data-move="1"]::after {
  content: "";
  position: relative;
  z-index: 20;
  width: 20px;
  height: 20px;
  background-color: lightgray;
  border-radius: 50%;
}

div[data-selected="1"] {
  transform: scale(1.05);
  background-color: rgba(255, 165, 1, 1);
}

div[data-piece="bk"] {
  /* background: none; */
  background-image: url("./assets/bk.svg");
  background-position: center center;
  background-size: cover;
}

div[data-piece="bq"] {
  background-image: url("./assets/bq.svg");
  background-position: center center;
  background-size: cover;
}

div[data-piece="br"] {
  background-image: url("./assets/br.svg");
  background-position: center center;
  background-size: cover;
}

div[data-piece="bK"] {
  background-image: url("./assets/bK.svg");
  background-position: center center;
  background-size: cover;
}

div[data-piece="bk"] {
  background-image: url("./assets/bk.svg");
  background-position: center center;
  background-size: cover;
}

div[data-piece="bb"] {
  background-image: url("./assets/bb.svg");
  background-position: center center;
  background-size: cover;
}

div[data-piece="bp"],
div[data-piece="bpy"] {
  background-image: url("./assets/bp.svg");
  background-position: center center;
  background-size: cover;
}

div[data-piece="wp"],
div[data-piece="wpy"] {
  background-image: url("./assets/wp.svg");
  background-position: center center;
  background-size: cover;
}

div[data-piece="wb"] {
  background-image: url("./assets/wb.svg");
  background-position: center center;
  background-size: cover;
}

div[data-piece="wK"] {
  background-image: url("./assets/wK.svg");
  background-position: center center;
  background-size: cover;
}

div[data-piece="wk"] {
  background-image: url("./assets/wk.svg");
  background-position: center center;
  background-size: cover;
}

div[data-piece="wq"] {
  background-image: url("./assets/wq.svg");
  background-position: center center;
  background-size: cover;
}

div[data-piece="wr"] {
  background-image: url("./assets/wr.svg");
  background-position: center center;
  background-size: cover;
}

div[data-move="valid"]::after {
  content: "";
  width: 15px;
  height: 15px;
  background-color: green;
  opacity: .7;
}

div[data-play="o"]::after {
  position: absolute;
  top: 30px;
  left: 31px;
  right: 0;
  bottom: 0;
  content: "";
  width: 63px;
  height: 63px;
  background-color: #121212;
  border-radius: 50%;
}

#gameboard:first-child,
#gameboard:nth-child(2),
#gameboard:nth-child(3) {
  border-top: none;
}
